html {
    background-color: #FFFFFF;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    /*font-weight: 300;*/
}

body {
    margin: 0%;
    padding: 0%;
    top:160px;
    display: inline;
}

header {
    background-color: #000000;
    border-bottom: 4px solid #EE4965;
    width: 100%;
}

.logos {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 40px;
}

#info_logo{
    position: relative;
    float: right;
}

.logos {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 40px;
}

#info_logo, #icon_soundcloud, #icon_github, #icon_email{
    opacity: .75;
}

#info_logo:hover, #info_logo:hover, #icon_soundcloud:hover, 
#icon_github:hover, #icon_email:hover {
    opacity: 1;
}

.main {
  display: flex;
}

.container {
  padding-left: 30px;
  min-width: 75%;
}

.nav {
  background-color: #FFFFFF;
  width: 25%;
  /*max-width: 25%;
  min-width: 140px;*/
}


nav ul{
    list-style: none;
    padding: 10px;
    margin: 0px;
}

nav ul li {
    padding: 10px;
    padding-left: 70px;
}
a {
    text-decoration: none;
    color: #EE4965;
}

a:hover, a:active {
    font-weight: bold;
    color: #6C97D5;
}

footer {
    background-color: #FFF;
    font-size: .8em;
    box-shadow: 0px 500px 0px 500px #000;
}

footer ul {
    margin: auto;
    width: 30%;
}

footer object {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

footer ul li{
    display: inline;
    padding: 10px;
    opacity: 0.5;
    -webkit-filter: invert(1);
   filter: invert(1);
}

