body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#gradients {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.9;
    background-image: radial-gradient(at 70%, rgba(39, 32, 69, 0.4) 0%, rgba(11, 2, 16, 0.00) 80%),
        radial-gradient(farthest-side at 70% 200%, rgba(82,48,97,0.4) 30%, rgba(11,2,16,0.00) 80%),
        radial-gradient(ellipse closest-corner at 60% 40%, rgba(47,44,111,0.3) 0%, rgba(16,15,39, 0.4) 90%),
        radial-gradient(circle farthest-side at 0% 90%, rgba(255,255,255, 0) 0%, rgba(11,2,16,0.00) 80%),
        radial-gradient(100% 40%, rgba(82,48,97,0.3) 0%, rgba(11,2,16,0.00) 90%);
    display: block;
    z-index: 1;
}


/* Sketch Wireframing K: */
font-family: AvenirNext-Bold;
font-size: 49.22px;
color: #4A4A4A;
line-height: 67px;
/* This is a collection: */
font-family: AvenirNext-Regular;
font-size: 19.15px;
color: #8C8C8C;
line-height: 26px;
/* Rectangle 519: */
background-image: linear-gradient(-180deg, #E17EDE 0%, #C877F2 100%);
border: 2px solid #604B69;
border: 1px solid #7A6186;
box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.20), 0px 2px 0px 0px rgba(255,255,255,0.20), inset 0px 3px 0px 0px rgba(255,255,255,0.25);
border-radius: 8px;
/* Sync copy: */
background: #FFFFFF;
border: 1px solid rgba(0,0,0,0.20);
/* Symbols — Usage: */
font-family: AvenirNext-Bold;
font-size: 32.72px;
color: #4A4A4A;
line-height: 45px;
/* Use the toolbar Symb: */
font-family: AvenirNext-Regular;
font-size: 21.87px;
color: #4A4A4A;
line-height: 30px;
/* Rectangle 524: */
background-image: linear-gradient(-180deg, #E17EDE 0%, #C877F2 100%);
border: 2px solid #604B69;
border: 1px solid #7A6186;
box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.20), 0px 2px 0px 0px rgba(255,255,255,0.20), inset 0px 3px 0px 0px rgba(255,255,255,0.25);
border-radius: 8px;
/* Rectangle 697: */
background: #FFFFFF;
border: 1px solid rgba(0,0,0,0.20);
/* Text Styles — Usage: */
font-family: AvenirNext-Bold;
font-size: 32.72px;
color: #4A4A4A;
line-height: 45px;
/* Use the toolbar Styl: */
font-family: AvenirNext-Regular;
font-size: 21.87px;
color: #4A4A4A;
line-height: 30px;
/* Document Structure: */
font-family: AvenirNext-Bold;
font-size: 32.72px;
color: #4A4A4A;
line-height: 45px;
/* The document: */
font-family: AvenirNext-Regular;
font-size: 21.95px;
color: #4A4A4A;
line-height: 30px;


/* Rectangle 7: */
background: rgba(242,121,52,0.97);


/* Rectangle 8 Copy 7: */
background: #F8E71C;


/* Triangles Copy 3: */
background: #D91E18;


/* Triangles Copy 2: */
background: #000000;


/* Triangles: */
background: #5FA50D;
border: 7px solid #F8E71C;


/* Line: */
border: 13px solid #FFFFFF;


/* Line: */
border: 10px solid #FFFFFF;


/* Rectangle 6: */
background: #00B2AF;
border: 1px solid #979797;


/* Software Engineer: */
font-family: HelveticaNeue-CondensedBold;
font-size: 14px;
color: #F8E71C;
letter-spacing: 2px;
line-height: 16px;


/* Rectangle 16: */
background: #F8E71C;
border: 1px solid #979797;
border-radius: 8px;


/* Marcus Greer: */
font-family: HelveticaNeue-Bold;
font-size: 24px;
color: #00B2AF;
letter-spacing: 2.09px;
line-height: 29px;


