<!DOCTYPE html>
	<html lang ="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=0"/>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		
		</head>

		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- <li><a href="/about" title="I'm not gonna front, I never made this page">About</a></li> -->
	        		<li><a href="/Marcus_Greer_Resume.pdf">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:marcusgreer96@gmail.com">marcusgreer96@gmail.com</a></li>
	        		<li><a href="https://github.com/marcusgreer">github.com/marcusgreer</a></li>
				</ul>
			</footer>
		</body>
	</html>
